<div class="contenido">

  <form [formGroup]="forma" ngSubmit="guardar()">
    
    <div class="f1">
      <button 
      mat-flat-button 
      color="accent" 
      (click)="adicionMaterial()"
      >+</button>

      <button 
      mat-stroked-button 
      color="warn" 
      (click)="eliminarall()"
      >Eliminar todo</button>
    </div>

    <div class="f2" formArrayName="utiles">

      <div class="contenido1"   *ngFor="let s of utilesEscolares.controls; let i = index " [formGroupName]="i">
        <mat-form-field appearance="legacy">
            <mat-label>Utiles Escolares</mat-label>
            <input 
            matInput 
            formControlName="utilNuevo"
            >
            <small *ngIf="s.invalid">No se admite ese caracter</small>
        </mat-form-field>

          <mat-checkbox 
          class="example-margin" 
          formControlName="check"
          >Aceptar</mat-checkbox>

          <button 
          mat-flat-button 
          color="warn" 
          (click)="borrarPasatiempo(i)"
          >Eliminar</button>
      </div>

    </div>

    <div class="f-3">
      <button 
      mat-stroked-button 
      color="primary" 
      (click)="guardar()"
      [disabled]="invalido"
      >Guardar</button>

      <button 
      mat-stroked-button 
      color="accent" 
      type="reset"
      >Limpiar</button>
    </div>
  </form>
</div>

<textarea name="guardado" id="" cols="30" rows="10">
  {{ this.arrayutiles }}
</textarea>

<!-- 
<hr>
<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }} 
  
</pre>
<pre>
  {{ forma.value | json}} 
</pre> -->